/* styles_socio.css */
/* styles_socio.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url('https://source.unsplash.com/1600x900/?church,faith') no-repeat center center;
    background-size: cover;
    color: white;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 800px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    color: #333;
}

input, select, button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button[type="submit"] {
    margin-top: 20px;
}

button[type="button"] {
    margin-top: 10px;
    background-color: #007BFF;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

.date-input {
    width: 50px;
}

.fecha-nacimiento {
    display: flex;
    gap: 5px;
}

.fecha-edad {
    display: flex;
    align-items: center;
    gap: 10px;
}
